# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# =========================
# Qt / PySide / PyQt
# =========================

# Qt Designer auto backup
*.autosave

# Generated Python from .ui (如果你不想提交生成文件)
ui_*.py

# Qt resource compiled files
*_rc.py

# Qt Creator / Designer temp
*.pro.user
*.pro.user.*

# =========================
# IDE
# =========================

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*~

# =========================
# Logs / runtime
# =========================

*.log
*.sqlite3
*.db

# =========================
# Testing / Coverage
# =========================

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================*.
# Environment variables
# =========================

.env
.env.*
